.wrap{
    width: 1250px;
    margin: 0 auto; /* 가운데 정렬 */
}

header{
    display: flex; /* 가로로 배열 */
}

.logo{
    background-color: #EEEEE9;
    width: 250px;
    Height: 100px;
}

.nav{
    background-color: #D6CCC2;
    width: 1000px;
    Height: 100px;
}

.main_top{
    width: 100%;
    height: 440px;
    background-color: #F5ECE1;
}

.main_bot{
    display: flex;
}
.left{
    background-color: #E4D6CA;
    width: 625px;
    Height: 440px;
}
.right{
    background-color: #D5BEB1;
    width: 625px;
    Height: 440px;
}
footer{
    width: 100%;
    height: 100px;
    background-color: #D6CCC2;
}