.wrap{
    position: relative;
    width: 1980px;
    height: 1080px;
    margin: 0 auto;
}

.line1{
    width: 1250px;
    height: 100px;
    top: 40px;
    left: 365px;
    background-color: #000000;
    position: absolute;
}

.line2{
    width: 100px;
    height: 700px;
    top: 40px;
    left: 365px;
    background-color: #676767;
    position: absolute;
}

.line3{
    width: 675px;
    height: 100px;
    top: 342px;
    left: 365px;
    background-color: #B4B4B4;
    position: absolute;
}

.line4{
    width: 100px;
    height: 400px;
    top: 340px;
    left: 940px;
    background-color: #DEDEDE;
    position: absolute;
}

.line5{
    width: 675px;
    height: 100px;
    top: 740px;
    left: 940px;
    background-color: #C7AEEF;
    position: absolute;
}

.line6{
    width: 100px;
    height: 200px;
    top: 740px;
    left: 1515px;
    background-color: #6C4D9D;
    position: absolute;
}