.product_container {
    background-color: #F6F6F9;
    justify-content: flex-end;
}

.product_wrap {
    width: 414px;
    height: 868px;

    border-radius: 20px 20px 0 0;
    padding: 31px 31px;
    background-color: #fff;

    position: relative;
    overflow: hidden;
}

.product_header {
    height: 105px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_header h2 {
    font-size: 22px;
    font-weight: 700;
}

.close_btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
}

.close_img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.product_text {
    margin-top: 20px;
}

.product_text p {
    font-style: 16px;
    color: #B3B3B3;
}

.asset_total {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 21px;
}

.asset_total h1 {
    font-size: 32px;
    color: #000000;
}

.up_img {
    width: 40px;
    height: 19px;
    object-fit: contain;
}

.current_plan {
    margin-top: 47px;
}

.current_plan h2, .history h2 {
    font-size: 22px;
    font-weight: 700;
}

.gold_img {
    margin-top: 31px;
    width: 354px;
    height: 207px;
    object-fit: cover;
}

.see_plan {
    display: block;
    margin-top: 32px;
    font-size: 18px;
    color: #FE555D;
    text-align: center;
}

.history {
    margin-top: 24px;
}

.history_box {
    padding: 15px 0 10px;
    border-bottom: 1px solid #B3B3B3;
}

.history_box h3 {
    font-size: 18px;
    font-weight: 700;
}

.history_box.green h3 {
    color: #00B907;
}


.history_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history_info p, .history_info span {
    margin-top: 1px;
    font-size: 14px;
    color: #B3B3B3;
}
