.wrap{
    width: 1280px;
    margin: 0 auto;
}

header{
    display: flex;
}

.logo{
    background-color: #EAE9EE;
    width: 200px;
    Height: 100px;
}

.nav{
    background-color: #C2C3D6;
    width: 1080px;
    Height: 100px;
}

.top{
    display: flex;
}

.top_left{
    background-color: #E1E1F5;
    width: 250px;
    Height: 440px;
}

.top_top{
    display: flex;
}

.top1{
    background-color: #C0C0FB;
    width: 730px;
    Height: 220px;
}

.top2{
    background-color: #7878D4;
    width: 300px;
    Height: 220px;
}

.top_bot{
    display: flex;
}

.bot1{
    background-color: #9999EF;
    width: 280px;
    Height: 220px;
}

.bot2{
    background-color: #CACBE4;
    width: 750px;
    Height: 220px;
}

.bot{
    display:flex;
}

.bot_left{
    display: flex;
}

.left1{
    background-color: #7878D4;
    width: 177px;
    Height: 440px;
}

.left2{
    background-color: #353AC2;
    width: 176px;
    Height: 440px;
}

.left3{
    background-color: #0D1163;
    width: 177px;
    Height: 440px;
}

.top3{
    background-color: #666CEE;
    width: 750px;
    Height: 242px;
}

.right_bot{
    display: flex;
}

.bot3{
    background-color: #7D7FA7;
    width: 372px;
    Height: 198px;
}

.bot4{
    background-color: #4C4F8C;
    width: 378px;
    Height: 198px;
}

footer{
    display: flex;
}

.footer_left{
    background-color: #3A258A;
    width: 200px;
    Height: 100px;
}

.footer_middle{
    background-color: #6469CD;
    width: 880px;
    Height: 100px;
}

.footer_right{
    background-color: #3A258A;
    width: 200px;
    Height: 100px;
}